IMPORT PANDAS and NUMPY

In [42]:
import pandas as pd
import numpy as np

## **Q1. Pandas version**

#### What's the version of Pandas that you installed?

In [5]:
pd.__version__

'2.2.3'

## **Q2. Records Count**

#### How many records are in the dataset?

In [6]:
data= pd.read_csv("car_fuel_efficiency.csv")

In [44]:
len(data)

9704

## **Q3. Fuel types**

#### How many fuel types are presented in the dataset?

In [8]:
data["fuel_type"].nunique()

2

## **Q4. Missing values**

#### How many columns in the dataset have missing values?

In [9]:
(data.isnull().sum()>0).sum()

4

## **Q5. Max fuel efficiency**

#### What's the maximum fuel efficiency of cars from Asia?

In [16]:
data[data["origin"]=="Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

## **Q6. Median value of horsepower**

#### 1. Find the median value of horsepower column in the dataset.

#### 2. Next, calculate the most frequent value of the same horsepower column.

#### 3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

#### 4. Now, calculate the median value of horsepower once again.

#### Has it changed?

In [21]:
data["horsepower"].median()

149.0

In [22]:
data["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [24]:
mode=data["horsepower"].mode()[0]
data["horsepower"] = data["horsepower"].fillna(mode)

In [25]:
data["horsepower"].median()

152.0

Answer: Yes, it increased

## **Q7. Sum of weights**

#### 1. Select all the cars from Asia

#### 2. Select only columns vehicle_weight and model_year

#### 3. Select the first 7 values

#### 4. Get the underlying NumPy array. Let's call it X.

#### 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

#### 6. Invert XTX.

#### 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

#### 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

#### 9. What's the sum of all the elements of the result?

In [27]:
asia_cars = data[data["origin"] == "Asia"]

In [28]:
selected_data = asia_cars[["vehicle_weight", "model_year"]]

In [33]:
selected_data = selected_data.head(7)

In [34]:
X = selected_data.to_numpy()

In [35]:
XTX = X.T @ X

In [38]:
XTX_inv = np.linalg.inv(XTX)

In [39]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [40]:
w = XTX_inv @ X.T @ y

In [41]:
total = w.sum()
print(total)

0.5187709081074016